@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';
@import "assets/scss/custom";
@import "assets/scss/font-face";
@import "assets/scss/spaces";
@include mat-core();


$Jupiter-primary: mat-palette($mat-indigo);
$Jupiter-accent: mat-palette($mat-pink, A200, A100, A400);
$Jupiter-warn: mat-palette($mat-red);

$Jupiter-theme: mat-light-theme((
  color: (
    primary: $Jupiter-primary,
    accent: $Jupiter-accent,
    warn: $Jupiter-warn,
  )
));

@include angular-material-theme($Jupiter-theme);

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

.dark-theme {
  background-color: black;
  color: white;
  @include angular-material-color($dark-theme);
}



